@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1460px;
  margin: 0 auto;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #cdcaca6d;
  padding: 25px 20px;
  position: relative;
  border-bottom: 2px solid #cdcacab7;
  box-shadow: 0px 4px 22px -12px black;
}

.logo {
  font-size: 24px;
  letter-spacing: 12px;
  text-align: center;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.functions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-links li,
.functions li {
  margin: 0px 10px;
}

.nav-links a,
.functions a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover,
.functions a:hover {
  color: #f3a712;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 0px 2px;
}

.cart .cart-svg {
  width: 20px;
  height: 20px;
}

/* Responsive Navbar for Mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 60px;
    left: 0px;
    flex-direction: column;
    background-color: #0202027d;
    border-radius: 0px 8px 8px 0px;
    width: 100%;
    max-width: 300px;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-links a {
    color: #fff;
  }
  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .functions .item {
    display: none;
  }

  .functions li {
    margin: 0px;
  }

  .cart-text {
    display: none;
  }

  .logo {
    font-size: 18px;
    letter-spacing: 8px;
    padding-left: 10px;
  }
}
