@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1460px;
  margin: 0px auto;
  padding: 0px 16px;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #cdcaca6d;
  padding: 25px 20px;
  position: relative;
  border-bottom: 2px solid #cdcacab7;
  box-shadow: 0px 4px 22px -12px black;
}

.logo {
  font-size: 24px;
  letter-spacing: 12px;
  text-align: center;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.functions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-links li,
.functions li {
  margin: 0px 10px;
}

.nav-links a,
.functions a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover,
.functions a:hover {
  color: #f3a712;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 0px 2px;
}

.cart .cart-svg {
  width: 20px;
  height: 20px;
}

.hero {
  background-image: linear-gradient(to top, #000000c2, #000000c2),
    url("https://i.ibb.co.com/H4QVwXW/360-F-292569117-IXB16o-P1-A5-U47b-TVRn-Y0-FOXZf-XKYesjn.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hero .tool__tip {
  width: fit-content;
  padding: 8px 15px;
  background-color: #00000090;
  color: #fff;
  border-radius: 5px;
}

.hero .title {
  font-size: 52px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  padding: 10px 0px;
}

.sub__title {
  font-size: 20px;
  margin: 10px 0px;
  color: #fff;
}

.banner__button__wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.button__container {
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.border__button {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
}

#productSection {
  padding: 80px 0px;
}

.product__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.product {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product__details {
  padding: 10px 20px;
}

.product__details .title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.product__details .details {
  font-size: 16px;
  margin-top: 15px;
  color: #333;
}

.product:hover {
  transform: scale(1.03);
}

.section__title {
  font-size: 38px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .navbar {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 60px;
    left: 0px;
    flex-direction: column;
    background-color: #0202027d;
    border-radius: 0px 8px 8px 0px;
    width: 100%;
    max-width: 300px;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .nav-links a {
    color: #fff;
  }
  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .functions .item {
    display: none;
  }

  .functions li {
    margin: 0px;
  }

  .cart-text {
    display: none;
  }

  .logo {
    font-size: 18px;
    letter-spacing: 8px;
    padding-left: 10px;
  }

  .hero .title {
    font-size: 32px;
  }

  #productSection {
    padding: 60px 16px;
  }

  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product img {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-position: left;
    height: 60vh;
  }

  .hero .title {
    font-size: 28px;
  }

  .hero__description {
    grid-template-columns: repeat(1, 1fr);
    height: 50vh;
  }

  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .product__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
