@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: local("AirbnbCerealLight"),
    url("./fonts/Montserrat-Light.ttf") format("truetype");
}

body {
  font-family: "Montserrat";
}
